.title {
    color: blue;
}

.myTab {
    float: left;
    width: 100%;
    margin-left: 0;
    border: 1px solid blue;
    position: relative;
    padding: 5px 5px 20px 5px;
    margin: 41px 0 10px 0;
}

.myTab th,
.myTab td {
    text-align: left;
    padding-left: 5px;
}

.input,
.submit {
    border: 1px solid #aaa;
    margin-left: 10px;
    height: 30px;
    border-radius: 5px;
}

.input {
    background-color: snow;
}

.submit {
    background-color: rgb(41, 11, 68);
    color: azure;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(13, 5, 20);
}

.back_fromsaisie {
    background-color: rgb(175, 175, 207);
    float: left;
    width: 100%;
    min-height: 800px;
}

.fromsaisie {
    background-color: aqua;
    position: fixed;
    top: 20px;
    width: 80%;
    left: 10%;
    min-height: 300px;
    box-shadow: 1px 1px 5px 4px #888;
}

.close {
    background-color: brown;
    color: azure;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    cursor: pointer;
}

.close:hover,
.close:active {
    background-color: blueviolet;
}

.div_form {
    background-color: brown;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 11;
}

.div_form input {
    width: auto;
}

.tr_form {
    position: relative;
}

.div_tot {
    float: left;
    width: 100%;
    text-align: right;
    padding-right: 16px;
}

.div_tot ul {
    padding: 0;
    float: right;
    list-style-type: none;
}

.div_tot ul li {
    width: 100%;
    float: left;
}

.div_tot ul li strong {
    color: rgb(0, 0, 60);
    margin-right: 28px;
    text-transform: capitalize;
}

.div_tot ul li strong::after {
    content: ':';
}

.div_tot ul li span {
    color: rgb(19, 19, 20);
}

.maquet {
    border: 3px solid red;
    width: 100px;
    height: 100px;
}

.nav {
    background-color: blueviolet;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    float: left;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    padding: 0px 10px;
    line-height: 30px;
    color: rgb(212 198 225);
    font-size: 12px;
}

.nav li a:hover {
    color: white;
}

.card {
    margin: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: #aaa;
    padding: 20px;
    float: left;
    max-width: 300px;
}

.card p {}

.card p strong {
    margin-right: 5px;
}

.card p span {}